@import "../../variables.scss";
.modal {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  background-color: rgba($color: #000000, $alpha: 0.75);
  transform: scale(0);
  .modal__content {
    transform: scale(0);
  }
  &.active {
    transform: scale(1);
    .modal__content {
      position: relative;
      transform: scale(1);
      transition: transform 0.1s linear;
      padding: 45px;
      border-radius: 30px;
      width: 85%;
      height: 80%;
      background-color: $mainLightGrey;
    }
  }
  .modal__content_buttonWrapper {
    position: absolute;
    width: 35px;
    height: 35px;
    left: calc(100% - 35px - 45px);
    top: 35px;
    & button {
      width: 100%;
      height: 100%;
      svg {
        width: 100%;
        height: 100%;
        & line {
          stroke: black;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .modal {
    &.active {
      .modal__content {
        padding: 25px;
        border-radius: 25px;
      }
    }
    .modal__content_buttonWrapper {
      top: 20px;
      left: calc(100% - 35px - 25px); // ширина кнопки минус падинг
    }
  }
}
