.formContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  & form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
  }
  & input,
  textarea {
    width: 100%;
    border-radius: 30px;
    padding: 25px 20px;
    resize: none;
    outline: none;
    &::-webkit-scrollbar {
      width: 0px;
    }
  }
  & .body {
    height: 100%;
  }
}

.personalInfo {
  display: flex;
  gap: 15px;
  align-items: center;
  & div:has(img) {
    width: 60px;
    height: 60px;
    & img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
  & button {
    color: black !important;
  }
}

@media (max-width: 820px) {
  .formContent {
    & input,
    textarea {
      border-radius: 20px;
      padding: 15px;
    }
  }
  .buttonWrapper {
    & button {
      padding: 13px 35px;
    }
  }
}

@media (max-width: 620px) {
  .buttonWrapper {
    justify-content: space-between;
    gap: 0;
  }
}
