.formContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  // background-color: red;
  & form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
  }
  & input,
  textarea {
    width: 100%;
    border-radius: 30px;
    padding: 25px 20px;
    resize: none;
    &::-webkit-scrollbar {
      width: 0px;
    }
  }
  & .body {
    // min-height: 100%;
    height: 100%;
  }
}
.personalInfo {
  display: flex;
  gap: 15px;
  align-items: center;
  & div:has(img) {
    width: 60px;
    height: 60px;
    & img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
}
.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 25px;
}
