@import "../../shared/variables.scss";

.postsContainer {
  display: flex;
  flex-direction: column-reverse;
  max-height: 1000px;
  border-radius: 30px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0px;
  }
}

.postsContainer li:nth-child(odd) {
  background-color: $mainLightBlue;
  color: $mainColorWhite;
  & section span {
    background-color: $mainYellow;
    color: $mainColorBlack;
  }
  & line {
    //svg line
    stroke: $mainColorWhite;
  }
}
.postsContainer li:nth-child(even) {
  background-color: $mainYellow;
  color: $mainColorBlack;
  & section span {
    background-color: $mainLightBlue;
    color: $mainColorWhite;
  }
  & line {
    //svg line
    stroke: $mainColorBlack;
  }
}

.post-enter {
  opacity: 0;
}
.post-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.post-exit {
  opacity: 1;
}
.post-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.post {
  padding: 30px;
  border-radius: 30px;
  margin-bottom: $padding;
}
.post section {
  padding: 30px 0 0 0;
}

@media (max-width: 820px) {
  .postsContainer {
    border-radius: 25px;
  }
  .post {
    padding: 17px;
    border-radius: 25px;
  }
}
