@import "../../shared/variables.scss";
.header {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  & h2 {
    color: $mainColorWhite;
    span {
      color: $mainYellow;
    }
  }
  section {
    width: 50%;
    aspect-ratio: 1/1.1;
    height: auto;
  }
  & section:first-of-type {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: $mainLightBlue;
    gap: 10px;
    & div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $mainColorWhite;
    }
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column-reverse;
    section {
      width: 100%;
      aspect-ratio: 1/0.6;
    }
  }
}
