@import "../../shared/variables.scss";

.profile {
  padding: 0px !important;
  display: flex;
  flex-direction: column;
  gap: 10px;
  & .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $padding * 2;
    border-radius: $borderRadius;
    background-color: $mainLightGrey;
  }
  & .head > div {
    display: flex;
    gap: 10px;
    & span {
      text-decoration: underline;
    }
  }

  & .headInfo {
    align-items: center;
    & div:has(img) {
      width: 60px;
      height: 60px;
      & img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }

  & .imgWrapper {
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: $borderRadius;
    }
  }
}

@media (max-width: 820px) {
  .profile {
    & .head {
      padding: 7px 17px;
      border-radius: 25px;
    }

    & .headInfo {
      & div:has(img) {
        width: 45px;
        height: 45px;
      }
    }

    & .imgWrapper {
      & img {
        border-radius: 25px;
      }
    }
  }
}
@media (max-width: 768px) {
  .profile {
    & .imgWrapper {
      aspect-ratio: 2/1;
    }
  }
}
