@import "../../shared/variables.scss";
.postItemContainerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15%;
  gap: 10px;

  & span {
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: $mainLightBlue;
  }
}

@media (max-width: 820px) {
  .postItemContainerWrapper {
    margin-bottom: 10%;
  }
}
