@import "../../shared/variables.scss";

.postCardWrapper {
  padding: 30px;
  border-radius: 30px;
  background-color: $mainYellow;
  & line {
    //svg line
    stroke: $mainColorBlack;
  }
}
@media (max-width: 820px) {
  .postCardWrapper {
    padding: 17px;
    border-radius: 25px;
  }
}
