@import "https://fonts.googleapis.com/css2?family=Onest:wght@400;500&family=Raleway&display=swap";
@import "../shared/variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // color: $mainColorBlack;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Onest", sans-serif;
  font-weight: 400;
  border: 0px;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
}
h1,
h2 {
  font-size: 50px;
  font-size: calc(20px + 2vw);
  font-size: clamp(27px, 3.5vw, 60px);
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  padding: $padding;
  font-size: 15px;
}

section {
  border-radius: 30px;
  padding: $padding * 2;
}

@media (max-width: 820px) {
  section {
    border-radius: 25px;
    padding: 17px;
  }
}
@media (max-width: 768px) {
  body {
    padding: 10px;
  }
}
