.loaderContainer {
  position: absolute;
  top: 50%;
  left: calc(50% - (55px / 2 / 2));
  transform: translate(-50%, -50%);
  display: flex;
  gap: 15px;
}
.loader {
  display: block;

  border-radius: 50%;

  animation: spin 1s linear infinite;

  -webkit-box-shadow: 0px 0px 10px 1px rgba(49, 70, 87, 0.5);
  -moz-box-shadow: 0px 0px 10px 1px rgba(49, 70, 87, 0.5);
  box-shadow: 0px 0px 10px 1px rgba(49, 70, 87, 0.5);

  &.Large {
    width: 55px;
    height: 55px;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3a3e3e;
  }
  &.Medium {
    width: 25px;
    height: 25px;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3a3e3e;
  }
  &.Small {
    width: 15px;
    height: 15px;
    border: 2.5px solid #f3f3f3;
    border-top: 2.5px solid #3a3e3e;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
