@import "../../variables.scss";
.button {
  font-size: 15px;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
  }
}
.button.colored,
.button.transparent {
  padding: 15px 53px;
  border-radius: 50px;
}
.button.colored {
  background-color: $mainYellow;
}
.button.underline {
  background-color: transparent;
  text-decoration: underline;
  color: inherit;
}
.button.transparent {
  background-color: transparent;
  color: inherit;
  border: 1px solid black;
}

@media (max-width: 820px) {
  .button.colored,
  .button.transparent {
    padding: 13px 48px;
    font-size: 14px;
  }
}
@media (max-width: 620px) {
  .button.colored,
  .button.transparent {
    padding: 13px 35px;
  }
}
